.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 130px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.container {
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: #d7d7d7;
  height: 100vh;
}

.text {
   padding: 5px 10px;
}


.slide:hover,
.slide:focus {
  border-color: #4285f4;
  color: #fff;
  -webkit-box-shadow: inset 12em 0 0 0 #4285f4;
          box-shadow: inset 12em 0 0 0 #4285f4;
}

.button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  border-radius: 300px;
  color: #4285f4;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: flex;
  align-items: center;
}
.start-button {
  color: #4285f4;
}

.stop-button {
  color: #ff4444;
}

.stop:hover,
.stop:focus {
  border-color: #ff4444;
  color: #fff;
  -webkit-box-shadow: inset 12em 0 0 0 #ff4444;
          box-shadow: inset 12em 0 0 0 #ff4444;
}

.button:disabled{
  border-color: #777878;
  color: #fff;
  background: #777878 !important;
  box-shadow: inset 12em 0 0 0 #777878 !important;
}
.ml {
  margin-left: 0.5rem;
}

.stopwatch-time {
  text-align: center;
  color: #111010;
  font-size: 10px;
}